body #wrapper {
  overflow-x: hidden;
}
body {
  margin: 0;
  color: #121212;
  font-family: Copperplate, 'Copperplate Gothic Light', fantasy !important;
  /* font-family: Georgia, 'Times New Roman', Times, serif !important; */
  background-image: url('./assets/bkgd//palm-leaves20.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
}
@media only screen and (max-width: 1079px) {
  body {
    background-image: url('./assets/bkgd/palm-leaves20v.jpg');
    background-attachment: initial;
    overflow-x: hidden;
  }
}

#player {
  max-width: 100%;
  max-height: auto;
}

#live-border {
  border-top: 1px solid gray;
  margin: 10px 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

p h1 h2 h3 h4 h5 {
  font-size: x-large;
  padding: 20px auto;
  margin: 20px auto;
}

#about-div {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 30px;
  font-style: normal;
  font-size: medium;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 40px;
}
@media screen and (max-width: 991px) {
  #about-div {
    font-weight: 500;
    line-height: 40px;
    font-style: normal;
    font-size: medium;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 80px;
  }
}
@media screen and (min-width: 992px) {
  #about-div {
    font-weight: 500;
    line-height: 40px;
    font-style: normal;
    font-size: large;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 80px;
  }
}

#app-icons {
  max-width: 200px;
  height: auto;
}

#tithes {
  max-width: 50%;
  height: auto;
  padding: 20px;
}

@media screen and (max-width: 450px) {
  p h1 h2 h3 h4 h5 {
    font-size: large;
    padding: 20px auto;
    margin: 20px auto;
  }
}

#link {
  color: rgba(63, 63, 63, 0.795);
  background-color: rgba(233, 233, 233, 0.356);
  font-size: large;
}
#link:hover {
  color: rgba(126, 240, 82, 0.795);
  font-size: large;
  background-color: rgba(109, 109, 109, 0.493);
  text-shadow: 5px 5px 5px 5px rgb(0, 0, 0);
}
#events-link {
  color: white;
  background-color: rgba(233, 233, 233, 0.356);
  font-size: large;
}
#events-link:hover {
  color: rgba(126, 240, 82, 0.795);
  font-size: large;
  background-color: rgba(109, 109, 109, 0.493);
  text-shadow: 5px 5px 5px 5px rgb(0, 0, 0);
}

#photo {
  max-width: 300px;
  height: auto;
  padding: 20px 0;
}
@media screen and (max-width: 450px) {
  #photo {
    max-width: 200px;
    height: auto;
    padding: 20px 0;
  }
}

#header-image {
  max-width: 100%;
  height: auto;
  padding: 20px 0;
  text-align: center;
}

#joel {
  max-height: 400px;
  max-width: 80vw;
  padding: 20px auto;
  margin: 20px auto;
  text-align: center;
}

@media screen and (min-width: 768px) {
  #joel {
    max-height: 500px;
    max-width: 80vw;
    padding: 20px auto;
    margin: 20px auto;
    text-align: center;
  }
}

#graphic {
  max-height: 400px;
  max-width: 80vw;
  padding: 20px auto;
  margin: 20px auto;
  text-align: center;
}

#events-graphic {
  max-width: 400px;
  height: auto;
  padding: 20px auto;
  margin: 20px auto;
  text-align: center;
}

@media screen and (max-width: 450px) {
  #events-graphic {
    max-width: 200px;
    height: auto;
    padding: 20px auto;
    margin: 20px auto;
    text-align: center;
  }
}

#icon {
  max-width: 200px;
  height: auto;
  padding: 20px auto;
  margin: 20px auto;
  text-align: center;
}

@media screen and (max-width: 475px) {
  #icon {
    max-width: 80px;
    height: auto;
  }
}

#app-icons {
  max-width: 200px;
  height: auto;
}
@media screen and (max-width: 768px) {
  #app-icons {
    max-width: 150px;
    height: auto;
  }
}
@media screen and (max-width: 600px) {
  #app-icons {
    max-width: 80px;
    height: auto;
  }
}
