body {
  margin: 0;
  color: #121212;
  font-family: Georgia, 'Times New Roman', Times, serif !important;
  background-image: url('./assets/bkgd//palm-leaves20.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
}
@media only screen and (max-width: 1079px) {
  body {
    background-image: url('./assets/bkgd/palm-leaves20v.jpg');
    background-attachment: initial;
    overflow-x: hidden;
  }
}

#live-border {
  width: fit-content;
  border-top: 1px solid gray;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

/* .row {
  margin: 0;
} */

/* .container {
  max-width: fit-content;
  height: auto;
  justify-content: center;
} */

p h1 h2 h3 h4 h5 {
  font-size: x-large;
  padding: 20px auto;
  margin: 20px auto;
}

@media screen and (max-width: 450px) {
  p h1 h2 h3 h4 h5 {
    font-size: large;
    padding: 20px auto;
    margin: 20px auto;
  }
}

#link {
  color: rgba(63, 63, 63, 0.795);
  background-color: rgba(233, 233, 233, 0.356);
  /* border: 1px solid rgba(167, 167, 167, 0.24); */
  font-size: large;
}
#link:hover {
  color: rgba(126, 240, 82, 0.795);
  font-size: large;
  background-color: rgba(109, 109, 109, 0.493);
  text-shadow: 5px 5px 5px 5px rgb(0, 0, 0);
}

#photo {
  max-width: 300px;
  height: auto;
  padding: 20px 0;
}
@media screen and (max-width: 450px) {
  #photo {
    max-width: 200px;
    height: auto;
    padding: 20px 0;
  }
}

#header-image {
  max-width: 100%;
  height: auto;
  padding: 20px 0;
  text-align: center;
}

#joel {
  max-height: 400px;
  max-width: 80vw;
  padding: 20px auto;
  margin: 20px auto;
  text-align: center;
}

@media screen and (min-width: 768px) {
  #joel {
    max-height: 500px;
    max-width: 80vw;
    padding: 20px auto;
    margin: 20px auto;
    text-align: center;
  }
}

#graphic {
  max-height: 400px;
  max-width: 80vw;
  padding: 20px auto;
  margin: 20px auto;
  text-align: center;
}

#events-graphic {
  max-width: 400px;
  height: auto;
  padding: 20px auto;
  margin: 20px auto;
  text-align: center;
}

@media screen and (max-width: 450px) {
  #events-graphic {
    max-width: 200px;
    height: auto;
    padding: 20px auto;
    margin: 20px auto;
    text-align: center;
  }
}

#icon {
  max-height: 250px;
  max-width: 80vw;
  padding: 20px auto;
  margin: 20px auto;
  text-align: center;
}
